.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/icosahedron/v16/.suo
.vs/VSWorkspaceState.json
.vs/led_repo/v16/.suo
led_tube/.vs/slnx.sqlite
led_tube/.vs/led_tube/v16/.suo
led_tube/.vs/VSWorkspaceState.json
led_tube/.vs/ProjectSettings.json
led_tube/fireworks_jeff/.vs/slnx.sqlite
led_tube/fireworks_jeff/.vs/fireworks_jeff/v16/.suo
led_tube/fireworks_jeff/.vs/VSWorkspaceState.json
led_tube/fireworks_in_place/CppProperties.json
led_tube/fireworks_in_place/.vs/slnx.sqlite
led_tube/fireworks_in_place/.vs/fireworks_in_place/v16/.suo
led_tube/fireworks_in_place/.vs/__vm/Upload.vmps.xml
led_tube/fireworks_in_place/.vs/__vm/Configuration.Release.vmps.xml
led_tube/fireworks_in_place/.vs/__vm/Compile.vmps.xml
led_tube/fireworks_in_place/.vs/VSWorkspaceState.json
led_tube/fireworks_in_place/.vs/ProjectSettings.json
.vs/
pool_noodle/__vm/
pool_noodle/Debug/
UpgradeLog.htm
clockwork/clock2/clock2.vcxproj
clockwork/clock2/clock2.vcxproj.filters
clockwork/clock2/clock2.vcxproj.user
clockwork/clock2/__vm/.clock2.vsarduino.h
clockwork/clock2/__vm/Compile.vmps.xml
clockwork/clock2/__vm/Configuration.Debug.vmps.xml
clockwork/clock2/__vm/Upload.vmps.xml
clockwork/clock2/Debug/board.buildinfo
clockwork/clock2/Debug/clock2.bin
clockwork/clock2/Debug/clock2.cpp.d
clockwork/clock2/Debug/clock2.cpp.o
clockwork/clock2/Debug/clock2.elf
clockwork/clock2/Debug/clock2.ino.bin
clockwork/clock2/Debug/clock2.ino.elf
clockwork/clock2/Debug/clock2.ino.partitions.bin
clockwork/clock2/Debug/clock2.partitions.bin
clockwork/clock2/Debug/ArduinoOTA/ArduinoOTA.cpp.d
clockwork/clock2/Debug/ArduinoOTA/ArduinoOTA.cpp.o
clockwork/clock2/Debug/ESPmDNS/ESPmDNS.cpp.d
clockwork/clock2/Debug/ESPmDNS/ESPmDNS.cpp.o
clockwork/clock2/Debug/FastLED/bitswap.cpp.d
clockwork/clock2/Debug/FastLED/bitswap.cpp.o
clockwork/clock2/Debug/FastLED/colorpalettes.cpp.d
clockwork/clock2/Debug/FastLED/colorpalettes.cpp.o
clockwork/clock2/Debug/FastLED/colorutils.cpp.d
clockwork/clock2/Debug/FastLED/colorutils.cpp.o
clockwork/clock2/Debug/FastLED/FastLED.cpp.d
clockwork/clock2/Debug/FastLED/FastLED.cpp.o
clockwork/clock2/Debug/FastLED/hsv2rgb.cpp.d
clockwork/clock2/Debug/FastLED/hsv2rgb.cpp.o
clockwork/clock2/Debug/FastLED/lib8tion.cpp.d
clockwork/clock2/Debug/FastLED/lib8tion.cpp.o
clockwork/clock2/Debug/FastLED/noise.cpp.d
clockwork/clock2/Debug/FastLED/noise.cpp.o
clockwork/clock2/Debug/FastLED/platforms.cpp.d
clockwork/clock2/Debug/FastLED/platforms.cpp.o
clockwork/clock2/Debug/FastLED/power_mgt.cpp.d
clockwork/clock2/Debug/FastLED/power_mgt.cpp.o
clockwork/clock2/Debug/FastLED/wiring.cpp.d
clockwork/clock2/Debug/FastLED/wiring.cpp.o
clockwork/clock2/Debug/Update/Updater.cpp.d
clockwork/clock2/Debug/Update/Updater.cpp.o
clockwork/clock2/Debug/VM_DBG/VM_DBG.cpp.d
clockwork/clock2/Debug/VM_DBG/VM_DBG.cpp.o
clockwork/clock2/Debug/VM_DBG/VM_mem_check_sam.cpp.d
clockwork/clock2/Debug/VM_DBG/VM_mem_check_sam.cpp.o
clockwork/clock2/Debug/WiFi/ETH.cpp.d
clockwork/clock2/Debug/WiFi/ETH.cpp.o
clockwork/clock2/Debug/WiFi/WiFi.cpp.d
clockwork/clock2/Debug/WiFi/WiFi.cpp.o
clockwork/clock2/Debug/WiFi/WiFiAP.cpp.d
clockwork/clock2/Debug/WiFi/WiFiAP.cpp.o
clockwork/clock2/Debug/WiFi/WiFiClient.cpp.d
clockwork/clock2/Debug/WiFi/WiFiClient.cpp.o
clockwork/clock2/Debug/WiFi/WiFiGeneric.cpp.d
clockwork/clock2/Debug/WiFi/WiFiGeneric.cpp.o
clockwork/clock2/Debug/WiFi/WiFiMulti.cpp.d
clockwork/clock2/Debug/WiFi/WiFiMulti.cpp.o
clockwork/clock2/Debug/WiFi/WiFiScan.cpp.d
clockwork/clock2/Debug/WiFi/WiFiScan.cpp.o
clockwork/clock2/Debug/WiFi/WiFiServer.cpp.d
clockwork/clock2/Debug/WiFi/WiFiServer.cpp.o
clockwork/clock2/Debug/WiFi/WiFiSTA.cpp.d
clockwork/clock2/Debug/WiFi/WiFiSTA.cpp.o
clockwork/clock2/Debug/WiFi/WiFiUdp.cpp.d
clockwork/clock2/Debug/WiFi/WiFiUdp.cpp.o
