.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/icosahedron/v16/.suo
.vs/VSWorkspaceState.json
.vs/led_repo/v16/.suo
led_tube/.vs/slnx.sqlite
led_tube/.vs/led_tube/v16/.suo
led_tube/.vs/VSWorkspaceState.json
led_tube/.vs/ProjectSettings.json
led_tube/fireworks_jeff/.vs/slnx.sqlite
led_tube/fireworks_jeff/.vs/fireworks_jeff/v16/.suo
led_tube/fireworks_jeff/.vs/VSWorkspaceState.json
led_tube/fireworks_in_place/CppProperties.json
led_tube/fireworks_in_place/.vs/slnx.sqlite
led_tube/fireworks_in_place/.vs/fireworks_in_place/v16/.suo
led_tube/fireworks_in_place/.vs/__vm/Upload.vmps.xml
led_tube/fireworks_in_place/.vs/__vm/Configuration.Release.vmps.xml
led_tube/fireworks_in_place/.vs/__vm/Compile.vmps.xml
led_tube/fireworks_in_place/.vs/VSWorkspaceState.json
led_tube/fireworks_in_place/.vs/ProjectSettings.json
.vs/
pool_noodle/__vm/
pool_noodle/Debug/
