.vs/slnx.sqlite
.vs/ProjectSettings.json
.vs/icosahedron/v16/.suo
.vs/VSWorkspaceState.json
.vs/led_repo/v16/.suo
led_tube/.vs/slnx.sqlite
led_tube/.vs/led_tube/v16/.suo
led_tube/.vs/VSWorkspaceState.json
led_tube/.vs/ProjectSettings.json
